DJANGO_SECRET_KEY=replace-with-a-new-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=seagrass_project.pymysql_backend
DB_NAME=seagrass
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=replace-with-your-app-password
